// Styling for the contact section
section#contact {
  background-color: White;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .section-heading {
    color: rgb(10, 10, 10);
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 10px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control { //Message* input field area size 
      height: 75px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: rgb(10, 10, 10);
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}
