// Styling for the masthead
header.masthead {
  text-align: center;
  color: $primary; //Make vision a reality text color
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: 50%;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 18px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 10px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-top: 400px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 325px;
      padding-bottom: 250px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 200px;
        @include serif-font;
      }
      .intro-heading { //"Make your vision a reality"
        font-size: 30px;
        font-weight: 700;
        line-height: 75px;
        margin-top: 200px;
        margin-bottom: 5px; //distance between text and Tell Me More button
        @include heading-font;
      }
    }
  }
}
@media (max-width: 767px) {
  header.masthead {
    background-position: center top;
    background-size: contain;
    padding-top: 50px;
    padding-bottom: 50px;
    .intro-text {
      padding-top: 150px;
      padding-bottom: 100px;
      .intro-lead-in {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .intro-heading { 
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 5px;
      }
    }
  }
}